* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border box;
 
}

.container{
    width:100%  ;
    height: 100vh;
    background: #333; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background: #f5bfc8;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #d41775;
    box-shadow: 0 5px 10px rgba(237, 32, 32, 0.22);

}

.song-img{
    width: 220px;
    height: 210px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(225, 26, 26, 0.22);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color:#333;
    margin-top: 20px;

}

.music-player p{
    font-size: 14px;
    color: #333;
    margin-top: 5px;

}

#progres{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px 0px;
    display: block;
}

#progres::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow:0 5px 5px rgba(225, 26, 26, 0.22) ;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgb(255, 26, 26, 0.22); 
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.4);
    background-color: #f353a3;
    color: #fff;
}

.time{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: -10px;
}

.playlist{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #fff;
    padding: 20px;
    padding-left: 0;
    transform: translateX(100%);
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 20;
}

.playlist.active{
   transform: translateX(0);
}

.playlist h3{
    text-align: center;
    margin-bottom: 10px;

}

.playlist ul{
    list-style: none;
    padding: 0;

}

.playlist li{
    padding: 10px;
    border-bottom: 1px;
    cursor: pointer;

}

.playlist li:hover{
    background: #f53192;
    color:#fff ;
}

.player-wrapper{
  display: grid;
  grid-template-columns: 1fr 0fr;
  transition: 0.3s;
}

.player-wrapper.show-playlist{
  grid-template-columns: 1fr 1fr;
}

.playlist{
  background: #fff;
  padding: 20px;
}
